<div class="view-events page-view">

	<my:header></my:header>

	<article>

		<div class="columns-alt">
			<section>
				<h2>Come and say Hi!</h2>
				<p>I regularly exhibit my work at craft fairs and events throughout Norfolk, Suffolk and Cambridgeshire including the Guildhall [Innovations in Ceramic Art] and All Saints in Cambridge, Walberswick, Woodbridge and Ickworth House [National Trust].</p>
				<img class="image" ng:src="/images/Ickworth-wood-fair-Oct-2105.jpg" alt="Lois Thirkettle" width="100%">
				<hr>
			</section>

			<section>
				<h2>Upcoming events</h2>
				<ul class="my-events">
					<li ng:repeat="event in events"
						class="event-list-item">
						<my:event-summary
							data-model="event"
						></my:event-summary>
						<hr>
					</li>
				</ul>
			</section>
		</div>
	</article>
	<my:footer></my:footer>
</div>