<div class="view-events page-view">

	<my:header></my:header>

	<article>

		<div class="columns-alt">
			<section>
				<h2>Come and say Hi!</h2>
				<p>I regularly exhibit my work at Craft and Arts events throughout Cambridgeshire, Norfolk and Suffolk. These include Blackthorpe Barns (nr Bury St Edmunds), <a href="http://www.designermakers21.co.uk/members-associates/lois_thirkettle/lois_thirkettle-home.php" target="_blank">Designer Makers 21</a> in Diss, <a href="http://fireandfluxceramics.wixsite.com/website" target="_blank">Fire and Flux</a> in Norwich (St Benedicts St), <a href="https://folkeast.co.uk/" target="_blank">‘Folk East’</a> and Walberswick. <a ui:sref="{{ states.contact }}">My studio and gallery in Diss is open by appointment</a> throughout the year.</p>
				<img class="image" ng:src="/images/Ickworth-wood-fair-Oct-2105.jpg" alt="Lois Thirkettle" width="100%">
				<hr>
			</section>

			<section>
				<h2>Upcoming events</h2>
				<ul class="my-events">
					<li ng:repeat="event in events"
						class="event-list-item">
						<my:event-summary
							data-model="event"
						></my:event-summary>
						<hr>
					</li>
					<li class="event-list-item">
						...and of course Designer Makers 21 in Diss, Fire and Flux in Norwich and my studio and gallery in Diss throughout the year!
					</li>
				</ul>
			</section>
		</div>
	</article>
	<my:footer></my:footer>
</div>