

.view-contact {


	> article {

		ul {
			margin-bottom: $gutterSize;
		}

		li {
			// font-family: $headerFont;
			font-weight: $mainFontWeightStrong;
			font-size: 20px;
		}

		em {
			// font-style: italic;
			font-size: 20px;
			// font-family: $headerFont;
			font-weight: $mainFontWeightStrong;
		}
	}

}
