<div class="view-contact page-view">

	<my:header></my:header>

	<article>
		<h2>Contact me</h2>
		<h3>If you would like to get in touch, please feel free to contact me:</h3>
		<ul>
			<li>Email - <a href="mailto:{{ Contact.details.email }}">{{ Contact.details.email }}</a></li>
			<li>Telephone - {{ Contact.details.telephone }}</li>
			<li>Mobile - {{ Contact.details.mobile }}</li>
		</ul>
		<p>I look forward to hearing from you... <br><em>{{ Contact.details.name }}</em></p>
	</article>
	<my:footer></my:footer>
</div>