<div class="view-contact page-view">

	<my:header></my:header>

	<article>
		<h2>Contact me</h2>
		
		<h3>If you would like to get in touch, please feel free to contact me:</h3>
		<p>&bull; Email - <a href="mailto:{{ Contact.details.email }}">{{ Contact.details.email }}</a><br>&bull; Telephone - {{ Contact.details.telephone }}<br>&bull; Mobile - {{ Contact.details.mobile }}</p>

		<h3>Visit me at my studio</h3>
		<p>&bull; {{ Contact.details.businessName }}. {{ Contact.details.address }}.</p>
		<p><small>Please call/email me to book an appointment!</small></p>

		<iframe class="google-map" frameborder="0" style="border:0"
			ng:src="{{ getGoogleMapsSrc() }}"
		></iframe>
	</article>
	<my:footer></my:footer>
</div>