<div class="view-about page-view">

	<my:header></my:header>

	<article>
		
		<div class="columns">
			<section>
				<img class="image" ng:src="/images/lois.jpg" alt="Lois Thirkettle" width="100%">
				<h2>My style</h2>
				<p><strong>My pottery is mainly functional but with a 'twist'.</strong> Mostly bowls, jugs and mugs etc, I also make large platters and decorative pieces.  I use earthstone original and special fleck clay, firing to 1260 degrees stoneware and tend to focus on 3 glazes, a beautiful bright blue which has different qualities depending on the clay used, a duck egg blue and a matt white. I decorate mainly with 'wax resist'.</p>
				<img class="image" ng:src="/images/coffee.jpg" alt="Lois Thirkettle - bespoke coffee cups" width="100%">
				<h2>My journey</h2>
				<p>Originally trained as a craft potter under John Dann and Martin Dines in Essex I have now returned to my first love of ceramics, especially throwing and decoration, at my studio in Diss, Norfolk. Visitors, by appointment, are always welcome.</p>
				<h2>Where you'll find me</h2>
				<p>I regularly exhibit my work at craft fairs and events throughout Norfolk, Suffolk and Cambridgeshire including the Guildhall [Innovations in Ceramic Art] and All Saints in Cambridge, Walberswick, Woodbridge and Ickworth House [National Trust]. I also undertake commissioned work.</p>
				<hr>

			</section>
			<section>
				<h2>What I'm up to...</h2>
				<hr>
				<my:blog></my:blog>
			</section>
		</div>
	</article>
	<my:footer></my:footer>
</div>