
// dimensions
$gutterSize: 15px;
$gutterSizeMid: 30px;
$gutterSizeWide: 50px;

$breakPointPortraitTablet: 750px;
$breakPoint: 800px;
$breakPointWide: 1199px;
$breakPointSocialLinks: 650px;


// font family and weights - need to match the included google fonts in the link in index.html
$mainFont: 'Open Sans', 'Helvetica Neue', sans-serif;
$mainFontWeight: 400;
$mainFontWeightStrong: 700;

$headerFont: 'Swanky and Moo Moo', georgia, serif;
$headerWeight: 400;

$headerNavFont: $mainFont;
$headerNavWeight: $mainFontWeight;

$headingFont: $mainFont;
$headingWeight: $mainFontWeightStrong;

$subHeadingFont: $mainFont;
$subHeadingWeight: $mainFontWeightStrong;

// colour scheme
$mainColor: #666360;
$mainBackgroundColor: #f5f3f1;
$pageBackgroundColor: #fdfbfa;
$linkColor: #5BA4CF;
$highlightColor: #029FFC;

$headerColor: #767370;
$headerBackgroundColor: rgba(#fdfbfa, 1);
$headerNavItemColor: #7f726f;


// font sizes
$baseFontSize: 16px;
$headerFontSize: 2.75rem;
$headerNavFontSize: 1.25rem;
$headerFontSizeMid: 4.5rem;
$headerNavFontSizeMid: 1.5rem;
$headerFontSizeWide: 6rem;
$headerNavFontSizeWide: 1.5rem;



// discrete colour scheme
// $mainColor: #eee;
// $mainBackgroundColor: #f5f5f5;
// $pageBackgroundColor: #fafafa;
// $linkColor: #eee;
// $highlightColor: #ddd;

// $headerColor: white;
// $headerBackgroundColor: #eee;
// $headerNavItemColor: transparent;

// img {
// 	opacity: 0.1;

// 	&.loaded {
// 		opacity: 0.1 !important;
// 	}
// }