
.my-navigation {
	font-size: $headerNavFontSize;
	font-family: $headerNavFont;
	font-weight: $headerNavWeight;

	ul {
		margin-top: -$gutterSize;
		@extend %clearfix;

		li {
			float: left;

			a {
				cursor: pointer;
				display: block;
				padding: 10px 0;
				color: rgba($headerNavItemColor, 0.8);

				&:hover {
					color: $headerNavItemColor;
				}
			}

			&.-selected {
				a,
				a:hover {
					cursor: default;
					color: $headerNavItemColor;
				}
			}

			margin-right: $gutterSize * 2;
		}
	}

	@media only screen and (min-width: $breakPoint) {
		font-size: $headerNavFontSizeMid;
	}
}