
.my-navigation {
	font-size: $headerNavFontSize;
	font-family: $headerNavFont;
	font-weight: $headerNavWeight;

	ul {
		margin-top: -$gutterSize;
		@extend %clearfix;

		li {
			float: left;

			a {
				cursor: pointer;
				display: block;
				padding: 10px 0;
				color: rgba($headerNavItemColor, 0.6);

				&:hover {
					color: $highlightColor;
				}
			}

			&.-selected {
				a,
				a:hover {
					cursor: default;
					color: $headerNavItemColor;
				}
			}

			margin-right: $gutterSize * 2;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	@media only screen and (min-width: $breakPoint) {
		font-size: $headerNavFontSizeMid;
	}

	@media only screen and (max-width: $breakPointMobileSmall) {
		font-size: $headerNavFontSizeSmall;

		ul {
			display: flex;
			flex-direction: row;

			li {
				flex: 1 0 auto;
				float: none;
				margin-right: 0;
			}
		}
	}
}